<p>dialog-example works!</p>
<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field>
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal" placeholder="Dog">
    </mat-form-field><br>
    <!-- 
        1st alternative
        [checked]="data.isChecked" is not two-way data binding, we have to call (change)="data.isChecked = $event.checked"
        
        2nd alternative
        [(ngModel)]="data.isChecked"
    -->
    <mat-checkbox
        [(ngModel)]="data.isChecked"
    >Set as primary withdrawal account</mat-checkbox>

    <!--
        appendTo="body" to fix ng-select dropdown not working in dialog
        reference: https://stackoverflow.com/questions/61011313/ng-select-dropdown-is-hidden-by-the-dialog
    -->
    <ng-select [items]="cars"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="selectedCar"
               appendTo="body"
    >
    </ng-select>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok w/ [mat-dialog-close]</button>
    <button mat-button (click)="save(this.data)" cdkFocusInitial>Ok w/ (click)</button>
</div>